<nav class="bg-dark text-light p-3 sidebar">
    <h2 class="fw-bold text-light mb-4">Momentum</h2>
    <ul class="nav flex-column">
      <li class="nav-item mb-3">
        <a class="nav-link text-light" routerLink ='/task'>TASK</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link text-light" routerLink = '/timer'>POMODORO TIMER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">PRODUCTIVITY STATS</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
  <div class="task-container">
    <h3 class="header mb-4">Your Tasks</h3>
    <div *ngFor="let task of tasks$ | async" class="task-item">
        <span class="task-status"></span> <!-- Circle Indicator -->
        <div class="task-content">
            <div class="task-name">{{ task.name }}</div>
            <div class="task-date">
                <!--<span class="icon">📅</span> {{ task.dueDate || 'No date' }}-->
            </div>
        </div>
    </div>
    <!-- Floating Add Button -->
    <button class="add-task-btn" routerLink = "/add-task">+</button>
</div>
