<nav class="bg-dark text-light p-3 sidebar">
    <h2 class="fw-bold text-light mb-4">Momentum</h2>
    <ul class="nav flex-column">
      <li class="nav-item mb-3">
        <a class="nav-link text-light" routerLink ='/task'>TASK</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link text-light" routerLink = '/timer'>POMODORO TIMER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">PRODUCTIVITY STATS</a>
      </li>
    </ul>
  </nav>

<div class="task-container">
    <div class="header">Your Tasks</div>
    <table class="task-table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Project</th>
          <th>Priority</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks$ | async">
          <td>
            <span class="status status-not-started">{{ task.status }}</span>
          </td>
          <td class="project-name">{{ task.name }}</td>
          <td>
            <span class="priority" [ngClass]="getPriorityClass(task.priority)">
              {{ task.priority }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  