<head>
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Macondo&family=Playwrite+DE+VA+Guides&family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
     </style>
  </head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100 bg-dark">
    <div class="card p-4 shadow-lg" style="width: 24rem; background-color: #1c3041; color: #ffffff;">
      <!-- Logo -->
      <div class="text-center mb-4">
        <img src="assets/logo.png" alt="Logo" style="width: 60px; height: 60px;" />
      </div>
      <!-- Title -->
       <h4 class="text-center mb-4 fw-bold">
        Sign in to <span style="color: #ec9192;" class="macondo-regular">Momentum</span>
        </h4>

      <!-- Form -->
      <form (submit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email" required />
        </div>
  
        <div class="mb-3">
          <div class="d-flex justify-content-between">
            <label for="password" class="form-label">Password</label>
            <!--<a href="#" class="text-info small">Forgot password?</a>-->
          </div>
          <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required />
        </div>
  
        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-success fw-bold">Sign in</button>
        </div>
        <div class="text-center mt-3">
          <p>
            Don't have an account?
            <a routerLink="/signup" routerLinkActive="active" style="color: cadetblue;">Sign Up</a>
          </p>
        </div>
        
      </form>
      <router-outlet></router-outlet>
    </div>
  </div>
 </body> 
